.About{
    max-width: 1400px;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
}
.About > img{
    width: 35%;
}
.AboutInfo{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
.AboutInfo h4{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.Information ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75em;
}
.Information li{
    display: flex;
    gap: 1em;
}
.Information li img{
    width: 24px;
}
.Information li dt{
    font-size: var(--font_size_medium);
    font-weight: 700;
}
.Information li dd{
    color: #666;
}
.Information li dd a{
    color: blueviolet;
}
.Information li dd a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .About{
        width: 90%;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        padding: 5rem 0;
    }
    .AboutInfo{
        width: 100%;
        gap: 4em;
    }
}
@media screen and (max-width: 768px) { 
    .About{
        padding: 4rem 0;
    }
    .Information ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) { 
    .About{
        padding: 3rem 0;
    }
    .About > img{
        width: 50%;
    }
    .Information h4{
        text-align: center;
    }
    .Information ul{
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5em;
    }
}