.About{
    max-width: 1400px;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
}
.About > img{
    width: 35%;
}
.AboutInfo{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}
.AboutInfo h3{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.Information ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75em;
}
.Information li{
    display: flex;
    gap: 1em;
}
.Information li img{
    width: 24px;
}
.Information li dt{
    font-size: var(--font_size_medium);
    font-weight: 700;
}
.Information li dd{
    color: #666;
}
.Information li dd a{
    color: #666;
}
.Information li dd a:hover{
    color: blueviolet;
}