.Career{
    margin: 100px 0;
}
.Career h3{
    text-align: center;
    font-size: var(--font_size_max);
}
.CareerInner{
    max-width: 1200px;
    margin: 100px auto;

    display: flex;
    justify-content: center;
}
.CareerImg{
    width: 20%;
}
.CareerImg img{
    width: 100%;
}
.CareerList{
    width: 50%;
    border-left: solid 1px var(--color_cc);
    padding-left: 5%;
    margin-left: 5%;
}
.CareerList .CareerBold{
    color: var(--color_red);
}
.CareerList h4{
    font-size: var(--font_size_medium);
    font-weight: var(--font_weight_bold);
}
.CareerList .CareerDate{
    display: block;
    margin: 5px 0 20px 0;
    color: var(--color_99);
}
.CareerList .CareerInfo{
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px var(--color_cc);
}
.CareerList .CareerInfo > li{
    margin-bottom: 30px;
}
.CareerInfo p{
    position: relative;
    padding-left: 20px;
}
.CareerInfo p::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--color_black);
    border-radius: 50%;
}
.CareerInfo span{
    display: block;
    margin: 5px 0 15px 0;
    color: var(--color_cc);
}
.CareerSet li{
    margin-bottom: 10px;
}