@use "./media.scss" as *;

.Header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: var(--color_ff);
	z-index: 1000;
}
.headerInner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		a {
			display: block;
			width: 77px;
			height: 60px;
			text-indent: -9999px;
			background: url(../../public/assets/images/header/logo.png) no-repeat center/cover;
		}
	}
}
.QuickList {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	button {
		background-color: transparent;
		border: none;
		border-radius: 0;
		color: var(--color_dk);
		font-size: var(--font_size_medium);
		padding: 0 20px;
		&:hover {
			color: var(--color_violet);
		}
	}
}
.navBtn {
	display: none;
	border: none;
	background: url(../../public/assets/icons/header/mobile_btn.svg) no-repeat center/cover;
	width: 35px;
	height: 25px;
	border-radius: 0;
}

@include desktop{
    .headerInner {
		width: 95%;
	}
}
@include tablet{
    .headerInner {
		h1 {
			a {
				width: 45px;
				height: 35px;
			}
		}
	}
	nav {
		overflow: hidden;
		width: 100%;
		position: absolute;
		top: 55px;
		left: 0;
		z-index: -1;
		max-height: 0;
		transition: max-height .3s;
	}
	nav.open {
		max-height: 264px;
	}
	.QuickList {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0;
		background-color: var(--color_ff);
		li {
			width: 100%;
			text-align: center;
			button {
				padding: 20px 0;
			}
		}
	}
	.navBtn {
		display: block;
	}

}
