.main{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    height: calc(100vh - 80px);
    margin-top: 80px;
    padding-top: 6em;

    text-align: center;
}
.main h3{
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 3em;
    border-bottom: solid 3px #666;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}
.main p{
    color: #444;
    font-weight: 700;
    font-size: 2em;
    margin-top: .8em;
}
.back{
    position: absolute;
    top: 3em;
    bottom: 3em;
    right: 0;
    left: 0;
    background: url(../../public/assets/images/main_back.png);  
    z-index: -1;
}
