.Project{
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
}
.Project h3{
    text-align: center;
    font-size: var(--font_size_max);
}
.ProjectList{
    margin-top: 100px;
}
.ProjectList h4{
    font-size: var(--font_size_big);
    text-align: center;
}
.ProjectList > li{
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: solid 1px var(--color_cc);
}
.ProjectList > li:last-child{
    margin-bottom: 0;
}
.ProjectList li > span{
    display: block;
    text-align: center;
    color: #666;
}
.ProjectItem{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
.ProjectImg{
    flex: 1;
}
.ProjectImg img{
    width: 100%;
}
.ProjectInfo{
    flex: 1;
}
.ProjectText li{
    margin-bottom: 20px;
}
.ProjectTitle{
    font-weight: var(--font_weight_bold);
}
.ProjectBold{
    color: var(--color_red);
}
.ProjectSkill{
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px var(--color_cc);
}
.ProjectSkill li{
    margin-bottom: 10px;
}
.ProjectSkill li:last-child{
    margin-bottom: 10px;
}
.ProjectSkill dl{
    display: flex;
    gap: 30px;
}
.ProjectSkill dt{
    width: 30%;
    font-weight: var(--font_weight_bold);
}
.ProjectSkill dd{
    flex: 1;
}
.ProjectSkill dd a{
    color: var(--color_violet);
}
.ProjectSkill dd a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .Project{
        width: 90%;
        padding: 5rem 0;
    }
    .Project h3{
        text-align: center;
        font-size: var(--font_size_big);
    }
    .ProjectList{
        margin-top: 4rem;
    }
    .ProjectList h4{
        font-size: 1.5em;
    }
    .ProjectItem{
        flex-direction: column;
    }
    .ProjectImg{
        text-align: center;
    }
    .ProjectImg img {
        width: 60%;
    }
    
}
@media screen and (max-width: 768px) { 
    .Project{
        padding: 4rem 0;
    }
    .ProjectList{
        margin-top: 3rem;
    }
    .ProjectList h4{
        font-size: var(--font_size_normal);
    }
    .ProjectList li > span{
        font-size: var(--font_size_normal);
    }
}
@media screen and (max-width: 640px) { 
    .Project{
        padding: 3rem 0;
    }
    .ProjectList{
        margin-top: 2rem;
    }
}