/* 리셋 코드 */
html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%; box-sizing: border-box;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none; display: block;}
img{border: 0; vertical-align: top}
/* 폰트
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Fredericka the Great', cursive;

 */
 :root{
	--font_weight_bold: 700;
	--font_weight_medium: 500;
	--font_weight_normal: 400;

	--font_size_min: 0.66em;
	--font_size_small: 0.85em;
	--font_size_normal: 1em;
	--font_size_medium: 1.18em;
	--font_size_big: 2em;
	--font_size_max: 3em;

	--color_ff: #fff;
	--color_cc: #ccc;
	--color_99: #999;
	--color_black: #000;
	--color_dark: #333;
	--color_violet: blueviolet;
	--color_red: #FF4747;
 }
 html{
    font-size: 18px;
 }
 body{
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	color: var(--color_dark);
 }
.hidden{
    position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}
button{ 
	border: none; 
	background-color: var(--color_violet); 
	color: var(--color_ff);
	padding: 8px 10px;
	border-radius: 5px;
	font-weight: var(--font_weight_bold);
	font-size: var(--font_size_normal);
	cursor: pointer;
	border: solid 2px var(--color_violet);
	transition: all .5s;
}
button:hover{
	background-color: var(--color_ff);
	color: var(--color_violet);
}