.SkillList h4{
    font-size: 1.16em;
    margin-bottom: 0.8em;
}
.SkillList > li{
    margin-bottom: 1.5em;
}
.SkillList > li:last-child{
    margin-bottom: 0;
}
.SkillList h5{
    font-size: var(--font_size_medium);
    color: var(--color_dark);
    margin-bottom: 0.8em;
}
.SkillContent{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;
}
.SkillContent li{
    display: flex;
    gap: 8px;
    align-items: center;
}
