.SkillList {
	h4 {
		font-size: 1.16em;
		margin-bottom: 0.8em;
	}
	>li {
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	h5 {
		font-size: var(--font_size_medium);
		color: var(--color_dark);
		margin-bottom: 0.8em;
	}
}
.SkillContent {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25em;
	li {
		display: flex;
		gap: 8px;
		align-items: center;
	}
}
