@use "./media.scss" as *;

@keyframes slide {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(-3256px);
	}
}
.slide {
	padding-bottom: 100px;
	overflow: hidden;
	font-size: 0;
	ul {
		white-space: nowrap;
		will-change: transform;
		animation: slide 20s linear infinite;
		li {
			display: inline-block;
			p {
				font-size: 40px;
				font-weight: 700;
				letter-spacing: 5px;
				color: var(--color_dark);
				padding: 6px 40px;
			}
		}
	}
}

@include desktop{
    .slide {
		padding-bottom: 5rem;
	}
}
@include tablet{
    .slide {
		padding-bottom: 4rem;
	}
}
@include mobile{
    .slide {
		padding-bottom: 3rem;
	}
}
